.aurora {
	background: url('./icons.png') no-repeat -284px -94px;
	width: 45px;
	height: 45px;
}

.ignis {
	background: url('./icons.png') no-repeat -71px -22px;
	width: 45px;
	height: 46px;
}

.fontaine {
	background: url('./icons.png') no-repeat -21px -22px;
	width: 45px;
	height: 46px;
}

.greenleaf {
	background: url('./icons.png') no-repeat -124px -22px;
	width: 45px;
	height: 46px;
}

.violight {
	background: url('./icons.png') no-repeat -71px -94px;
	width: 45px;
	height: 45px;
}

.pugilis {
	background: url('./icons.png') no-repeat -21px -165px;
	width: 45px;
	height: 45px;
}

.chrysalia {
	background: url('./icons.png') no-repeat -124px -165px;
	width: 45px;
	height: 45px;
}

.illusio {
	background: url('./icons.png') no-repeat -230px -94px;
	width: 45px;
	height: 45px;
}

.terrera {
	background: url('./icons.png') no-repeat -175px -22px;
	width: 45px;
	height: 46px;
}

.cragspur {
	background: url('./icons.png') no-repeat -230px -22px;
	width: 45px;
	height: 46px;
}

.yaksha {
	background: url('./icons.png') no-repeat -230px -165px;
	width: 45px;
	height: 45px;
}

.viperia {
	background: url('./icons.png') no-repeat -71px -165px;
	width: 45px;
	height: 45px;
}

.avia {
	background: url('./icons.png') no-repeat -175px -165px;
	width: 45px;
	height: 45px;
}

.valora {
	background: url('./icons.png') no-repeat -284px -22px;
	width: 45px;
	height: 46px;
}

.spectra {
	background: url('./icons.png') no-repeat -175px -94px;
	width: 45px;
	height: 45px;
}

.nixtorm {
	background: url('./icons.png') no-repeat -21px -94px;
	width: 45px;
	height: 45px;
}

.dragnor {
	background: url('./icons.png') no-repeat -124px -94px;
	width: 45px;
	height: 45px;
}
